<a href="https://colab.research.google.com/github/melikeekara/PYTHON-NOTEBOOKS/blob/main/lesson_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEEK-5 Object Oriented Programming
*   Class
*   Inheritance
*   Polymorphism
*   Encapsulation
*   Overriding
*   Abstraction

# **Python Classes/Object**
Python is an object oriented programming language.
Almost everything in Python is an object, with its properties and methods.
A Class is like an object constructor.

A class is a collection of object or you can say it is blueprint of objects defining the common attributes and behavior Now the question aries, how you do that? Class is defined under a Class Keyword

Classes are the building blocks in Object Oriented Programming.
Classes can be seen as blueprints from which you create your Instances.

In [ ]:
#Create Class:

class Students:
  #attribute= age, address, name 
  #behavior=pass

  pass

Create Object

In [ ]:
obj=Students()

In [ ]:
obj

In [ ]:
class Footballer:
  football_club="fenerbahce"
  age=21

In [ ]:
footballer=Footballer()

In [ ]:
footballer.age

21

In [ ]:
footballer.football_club

'fenerbahce'

New class

In [ ]:
class Square:
  edge=5
  area=0
  def area1(self):
    self.area=self.edge*self.edge   #5*5
    print("Area:", self.area)

In [ ]:
square=Square

In [ ]:
square.area1

In [ ]:
s1=Square()

In [ ]:
s1

In [ ]:
s1.edge

5

In [ ]:
s1.area

0

In [ ]:
s1.area1

In [ ]:
s1.area1()

Area: 25

In [ ]:
x=int(input("Write edge value:"))

Write edge value:12

In [ ]:
s1.edge=x

In [ ]:
s1.area1()

Area: 144

In [ ]:
s1.edge=15248
s1.area1()

Area: 232501504

New Class

In [ ]:
class Emp:

  age =25
  salary=1000

  def ageSalaryRatio(self):
    a=self.age/self.salary
    print("medhod:",a)

In [ ]:
emp=Emp()

In [ ]:
emp.age

25

In [ ]:
emp.salary

1000

In [ ]:
emp.ageSalaryRatio()

medhod: 0.025

New Class

The init() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications. 

To understand the meaning of classes we have to understand the built-in init() function. All classes have a function called init(), which is always executed when the class is being initiated.

Use the Init() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Employers:
  def __init__(self, name, surname, age):
    self.name=name
    self.surname=surname
    self.age=age

In [ ]:
emp1=Employers("melike", "kara", 22)

In [ ]:
emp1.age

22

In [ ]:
emp1.surname

'kara'

In [ ]:
emp1.name

'melike'

New Class

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

In [ ]:
p1=Person("Melike", 22)

In [ ]:
p2=Person("fadik", 21)

In [ ]:
print(p1.name)

Melike

In [ ]:
print(p2.name)

fadik

In [ ]:
print(p1.age)

22

In [ ]:
print(p2.age)

21

In [ ]:
print(p1.name, p1.age)

Melike 22

# The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class. 

It does not have to be named self, you can call it whatever you like , but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name=name
    self.age=age

  def myfunc(self):
    print("Hello my name is"+ self.name)

In [ ]:
person=Person("melike", 22)

In [ ]:
person.myfunc()

Hello my name ismelike

In [ ]:
class Animal:
  
  def __init__(self,a,b):
    self.name=a
    self.age=b

  def getAge(self):
    print(" ")
    return self.age

  def getName(self):
    print(self.name)

In [ ]:
animal1=Animal("dog",2)

In [ ]:
animal1.getAge()

2

In [ ]:
animal1.getName()

dog

In [ ]:
a2=Animal("cat", 4)
a2.getName

New Class

In [ ]:
class MyNum:
  def __init__(self):
    print("Calling the __init__() constructor!/n")
    self.val=0

  def increment(self):
    self.val=self.val+1
    print(self.val)

In [ ]:
mynum=MyNum()

Calling the __init__() constructor!/n

In [ ]:
mynum.increment()

4

New Class

In [ ]:
class MyNum:
  def __init__(self,value):
    try:
      value=int(value)
    except ValueError:
      value=0
    self.value=value

  def increment(self):
    self.value=self.value+1
    print(self.value)

In [ ]:
number=MyNum(10)

In [ ]:
number.increment()

12

In [ ]:
number1=MyNum("adgfvasjghdfvajhgfkhaj")

In [ ]:
number1.increment()

1

New Class

In [ ]:
class MyNumber:
  def __init__(self,value):
    self.value=int(value)

  def increment(self):
    self.value=self.value+1
    print(self.value)

In [ ]:
number=MyNumber(10)

In [ ]:
number.increment()

11

In [ ]:
class MyNumber:
  def __init__(self, value):
    try:
      value=int(value)
    except ValueError:
      value=0
    self.value=value
  
  def increment(self):
    self.value=self.value+1
    print(self.value)

In [ ]:
a=MyNumber(10)

In [ ]:
a.increment()

11

In [ ]:
a3=MyNumber("jdfkjfbvsçkfbg")

In [ ]:
a3.increment()

1

In [ ]:
a4=MyNumber("Melike")

In [ ]:
a4.increment()

1

New Class

In [ ]:
class Yourclass:
  classy=10

  def set_val(self):
    self.insty=100
    print(self.insty)

In [ ]:
obj=Yourclass()

In [ ]:
obj.classy

10

In [ ]:
obj.set_val()

100

In [ ]:
obj.insty

100

New Class

In [1]:
class Car:

  def __init__(self, manufacturer, model, year):
    self.manufacturer=manufacturer
    self.model=model
    self.year=year
    self.odometer_reading=0

  def welcome(self):
    print("welcome our car class")

  def getInformation(self):
    long_name=str(self.year)+ " " + self.manufacturer+ " "+self.model

    return long_name.title()

  def read_odometer(self):
    print("Car has "+ str(self.odometer_reading)+ "km on it")

  def update_odometer(self, kilometer):

    if kilometer>=self.odometer_reading:
      self.odometer_reading=kilometer
    else:
      print("There is no change")

  def increment_odometer(self, kilometer):
    self.odometer_reading+=kilometer

In [ ]:
my_car=Car("mercedes", "c200", 2022)

In [ ]:
my_car.manufacturer

'mercedes'

In [ ]:
my_car.model

'c200'

In [ ]:
my_car.year

2022

In [ ]:
my_car.welcome

In [ ]:
my_car.getInformation

In [ ]:
my_car.read_odometer()

Car has 0km on it

In [ ]:
my_car.odemeter_reading=25

In [ ]:
my_car.read_odometer()

Car has 0km on it

In [ ]:
my_car.update_odometer(50)

In [ ]:
my_car.read_odometer()

Car has 50km on it

# HOMEWORK
CREATE YOUR CLASS ABOUT ANYTHING
YOU CAN USE ALL INFORMATION

In [34]:
class theater_ticket:
  def __init__(self, name, type_theater, actors_number, duration_theater, ticket_capacity):
    self.name=name
    self.type_theater=type_theater
    self.actors=actors_number
    self.duration_theater=duration_theater
    self.ticket_capacity=ticket_capacity

  def get_info(self):
    print("Our show called", self.name, " is a ", self.type_theater, " and will last ", self.duration_theater, "minutes. We wish you a good time.")


  def is_ticket_available(self):
    if self.ticket_capacity == 0:
      print("The sale of tickets has been suspended.")
      
    else:
      print(f"Number of tickets remaining: {100 - self.ticket_capacity}. Ticket sales continue")

In [35]:
theaterTicket=theater_ticket("Ölümcül Oyun","psychological/thriller", 3, "80 minutes", 60)

In [36]:
theaterTicket.name

'Ölümcül Oyun'

In [37]:
theaterTicket.type_theater

'psychological/thriller'

In [38]:
theaterTicket.actors

3

In [39]:
theaterTicket.duration_theater

'80 minutes'

In [40]:
theaterTicket.ticket_capacity

60

In [41]:
print(theaterTicket.is_ticket_available())

Number of tickets remaining: 40. Ticket sales continue
None