<a href="https://colab.research.google.com/github/melikeekara/PYTHON-NOTEBOOKS/blob/main/lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Yeni Bölüm

*   CONDITIONS
*   LOOPS
*   FUNCTIONS

# Python Conditions and If Statements
These conditions can be used in several ways, most commanly in "if statements" and loops.
An "if statement" is written by using the if keyword.

In [ ]:
a=33
b=200
if b>a:
  print("b is greather than a")

b is greather than a

In [ ]:
a=int(input("write a variable:"))

write a variable:20

In [ ]:
b=int(input("write b variable:"))

write b variable:25

In [ ]:
if a<b:
  print("a is less than b")

a is less than b

# Elif
The elif keyword is pythons way of saying "if the previous conditions were not true, try this condition."

In [ ]:
x=33
y=33
if y>x:
  print("y is greater than x")
elif x==y:
  print("x and y equal")

x and y equal

In [ ]:
a=int(input("a value is:"))

a value is:5

In [ ]:
b=int(input("b value is:"))

b value is:150

In [ ]:
if a==b:
  print("a and b are equal")
elif a>b:
  print("a is greater than b")
elif a<b:
  print("a is less than b")
else:
  print("that is enough")

a is less than b

# Else
The else keyword catches anything which isn't caught by the preceeding conditions.

In [ ]:
a=200
b=33
if b>a:
   print("b is greather than a")
else:
  print("a is equal or greater than b")

a is equal or greater than b

In [ ]:
age=int(input("write your age:"))

write your age:40

In [ ]:
if age>18:
  print("you can login the system")
elif age==18:
  print("You can login the system")
else:
  print("sory you canot login system")

you can login the system

In [ ]:
a=20
b=25

if b>a: print("b is greater than a")

b is greater than a

In [ ]:
x=10
y=10
if x==y: ("x and y are equal")

In [ ]:
a=2
b=330
print("A") if a>b else print("B")

B

aşşağıdaki üstekinin uzun hali...

In [ ]:
a=2
b=330
if (a>b):
  print("A")
else:
  print("B")

B

# And
The and keyword is a logical operator, and is used to combine conditional statements.

In [ ]:
a=200
b=33
c=500

if a>b and c>a:
  print("a is greater than b and c greater than a")

a is greater than b and c greater than a

# Or
The or keyword is a logical operator, and is used to combine condiitional statements.
sadece 1 tane doğru olması yeterlii

In [ ]:
a=200
b=33
c=500

if a>b or a>c:
  print("a is greater than or a greater than c")

a is greater than or a greater than c

# Nested if 
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x=41
if x>10:
  print("Above on")
  if x>20: 
    print("and also above 20")
  else:
    print("but not above 20")

Above on
and also above 20

In [ ]:
number=int(input("Select a number:"))

Select a number:7

In [ ]:
number=int(input("Select a number:"))
if number<10:
  print("You can enter this game")
  if number==5:
    print("CONG. You find the targer number")
  else:
    print("You lose")

Select a number:11

# Python Loops
Python has a two loop commands:
*   while loops
*   for loops

# The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i=1 
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
x=10
while x<13:
  print(x)
  x+=1

10
11
12

# The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

# The continue Statements
With the break statement we can stop the current iteration, and continue with the next:

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

# The else statements
With the else statement we can run a block of code once when the condition no longer is true.

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).
This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits=["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
cars=["bmw","mercedes","audi"]

cars.append("porsche")

In [ ]:
cars

['bmw', 'mercedes', 'audi', 'porsche']

In [ ]:
car=input("what is your car?")

what is your car?ford

In [ ]:
cars.append(car)

In [ ]:
for i in cars:
  print(i)

bmw
mercedes
audi
porsche
ford

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
b="banana"
for x in b:
  print(x)

b
a
n
a
n
a

# The break Statement

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits=["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x=="banana":
    break

apple
banana

# The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next

In [ ]:
fruits=["apple", "banana", "cherry"]
for x in fruits:
  if x=="banana":
    continue
  print(x)

apple
cherry

# The range() Function

To loop through a set of code a specified number of times, we can use the range() function. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

range(start number, stop number, step number 'mesela 3 dersek 3 3 artırır.')

# Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished")

0
1
2
3
4
5
Finally finished

# Nested Loops
A nested loop is inside a loop
The "inner loop" will be executed one time for each iteration of the "outer loop".

In [ ]:
adj=["red","pink","yellow"]
fruits=["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
pink apple
pink banana
pink cherry
yellow apple
yellow banana
yellow cherry

# The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statements to avoid getting an error.

In [ ]:
for i in [0,1,2]:
  pass

In [ ]:
numbers=[1,2,3]
for x in numbers:
  #other devoloper will write here
  pass

In [ ]:
for y in fruits:
  pass

WORKING WITH LISTS