<a href="https://colab.research.google.com/github/melikeekara/PYTHON-NOTEBOOKS/blob/main/lesson_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Looping Through an entire list

In [ ]:
students=["melike","ahsen","fadime","rümeysa"]
for student in students:
  print (student)

melike
ahsen
fadime
rümeysa

Doing More Work Within a for Loop

In [ ]:
student=["melike","ahsen","fadime","rümeysa"]
for student in students:
  print(f"{student.title()} attends Python Programming Course!")

Melike attends Python Programming Course!
Ahsen attends Python Programming Course!
Fadime attends Python Programming Course!
Rümeysa attends Python Programming Course!

Using range() to Make a List of Numbers

In [ ]:
numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers=list(range(2,11,2))
print(even_numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

!!!!!!!range(first number, last number, step number)

In [ ]:
squares=[]
for value in range(1,11):
  square =value**2
  squares.append(square)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
mel=[]
for value in range(2,10,5):
  mels=value**2
  mel.append(mels)
  print(mel)

[4]
[4, 49]

Simple Statistics with a List of Numbers

In [ ]:
digit=list(range(0,10))
print(digit)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
min(digit)

0

In [ ]:
max(digit)

9

In [ ]:
sum(digit)

45

List Comprehensions

In [ ]:
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Working with Part of a List

In [ ]:
players=["messi", "ronaldo", "zidane", "enner", "pogba"]

In [ ]:
print(players[0:3])

['messi', 'ronaldo', 'zidane']

In [ ]:
print(players[1:4])

['ronaldo', 'zidane', 'enner']

In [ ]:
print(players[:4])

['messi', 'ronaldo', 'zidane', 'enner']

In [ ]:
print(players[2:])

['zidane', 'enner', 'pogba']

In [ ]:
print(players[-3:])

['zidane', 'enner', 'pogba']

Looping Through a Slice

In [ ]:
players=["messi", "ronaldo", "zidane", "enner", "pogba"]
print("Starting our program")
for player in players[:3]:
  print(player.title())

Starting our program
Messi
Ronaldo
Zidane

Copying a List

In [ ]:
my_foods=["pizza","falafel","carrot cake"]
friend_food=my_foods[:]
print("M fovorite foods are:")
print(my_foods)
print("\nMY FRİEND'S FAVORİTE FOODS ARE:")
print(friend_food)

M fovorite foods are:
['pizza', 'falafel', 'carrot cake']

mY FRİEND'S FAVORİTE FOODS ARE:
['pizza', 'falafel', 'carrot cake']

In [ ]:
print(my_foods)

['pizza', 'falafel', 'carrot cake']

In [ ]:
mel_food=my_foods

In [ ]:
print(mel_food)

['pizza', 'falafel', 'carrot cake']

# Functions
In python, a function is defined using def keyword

In [ ]:
def function():
  print("PYTHON ÖĞRENMEK İSTİYORUM.")

In [ ]:
function()

PYTHON ÖĞRENMEK İSTİYORUM.

In [ ]:
def programming():
  print("attend the lesson")

In [ ]:
programming()

attend the lesson

In [ ]:
def takesquare(number1):
  result=number1*number1
  print(result)

In [ ]:
takesquare(5)

25

In [ ]:
takesquare

In [ ]:
def write(name,surname):
  print("your fullname:", name,"",surname)

In [ ]:
write("melike","kara")

your fullname: melike  kara

In [ ]:
def describePet(animal_type,pet_name):
  print(f"\nI have a {animal_type}.")
  print(f"\n {pet_name} is mine")

In [ ]:
describePet("dog","max")

I have a dog.

 max is mine

# Arbitrary Arguments, *args
If you do not know how many argumments that will be passed into your function, add a*before the parameter name in the function definition. This way the function will receive a tuple of arguments, and can access the items accordingly.

In [ ]:
def func(*bestfriends):
  print("Your double best friend's name is", bestfriends[0])

In [ ]:
func("fadik","rüm","assen","")

Your double best friend's name is fadik

In [ ]:
func("ah","fad")

Your double best friend's name is ah

# KEYWORD ARGUMENTS 
You can also send arguments with the key=value syntax.
This way the order of the arguments does not matter.

In [ ]:
def girls(girl1, girl2, girl3):
  print("The youngest girl is "+ girl1)

In [ ]:
girls(girl1="ahsen", girl2="fadik", girl3="rümeysa")

the youngest girl is ahsen

# Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passeed into your function, add two asteriks : **before the parameter name in the function definition.
This way the function will receive a dictionary of arguments, and can access the items accordingly.

In [ ]:
def children(**child):
  print("child name:" + child["name"])

In [ ]:
children(name="melike", surname="kara")

child name:melike

In [ ]:
children(surname="kara")

KeyError: ignored

In [ ]:
def my_function(food):
  for x in food:
    print(x)

In [ ]:
fruits=["banana","cherry","apple"]

In [ ]:
my_function(fruits)

banana
cherry
apple

# Python Lambda
A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
def x(a):
  a=a+10
  return a

In [ ]:
b=x(5)

In [ ]:
print(b)

15

In [ ]:
x= lambda a: a+10

In [ ]:
print(x(5))

15

In [ ]:
x =lambda y: y*15

In [ ]:
print(x(7))

105

# Why Use Lambda Functions
The power of lambda is better shown when you use them as an anonymous function inside another function.
Say you have a function definition that takess one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def givenNumber(number1):
  return lambda number2 : number2+number1

In [ ]:
second=givenNumber(10)

In [ ]:
print(second(20))

30

In [ ]:
def myfunc(n):
  return lambda a:a*n

In [ ]:
mydoubler=myfunc(2)
print(mydoubler(11))

22

In [ ]:
def myfunc(m):
  return m

In [ ]:
myfunc(5)

5

In [ ]:
result=myfunc(5)

In [ ]:
print(result)

5

In [ ]:
x=int(input("write x value:"))
y=int(input("write y value:"))

write x value:15
write y value:25

In [ ]:
def findGreat(x,y):
  if x>y:
    return x
  else:
    return y

In [ ]:
great=findGreat(x,y)

In [ ]:
print(great)

25

In [ ]:
def myfunc(x):
  return lambda a : a*x

In [ ]:
var=myfunc(20)

In [ ]:
var(5)

100

In [ ]:
def where(city):
  print("i am from", city)

In [ ]:
where("Antalya")

i am from Antalya

In [ ]:
def passing(midterm, final):
  meanMidterm=midterm*0,4
  meanFinal=final*0.6
  meanGeneral= meanMidterm +  meanFinal
  if meanGeneral>45 and meanGeneral<60:
    print("Your meanGeneral:", meanGeneral)
    print("You pass but you habe to work hard")
  elif meanGeneral>60:
    print("Your meanGeneral:", meanGeneral)
    print("Yes pass the leson and dont worry")
  else:
    print("You dont pass")
    print("Your meanGeneral:", meanGeneral)

In [ ]:
meanMidterm=int(input("write midterm exam grade:"))
meanFinal=int(input("write final exam grade:"))

write midterm exam grade:45
write final exam grade:50

In [ ]:
passing(midterm, final)

TypeError: ignored

In [ ]:
def calculationFactorial():
  number=int(input("Write a number:"))
  factorial =1

  if number>=0:
    for i in range(1,number+1):
      factorial=factorial*i
    print("factorial:", factorial)
  else:
    print("Dont write nagative number")

In [ ]:
calculationFactorial()

Write a number:56
factorial: 710998587804863451854045647463724949736497978881168458687447040000000000000

In [ ]:
calculationFactorial()

Write a number:123
factorial: 12146304367025329675766243241881295855454217088483382315328918161829235892362167668831156960612640202170735835221294047782591091570411651472186029519906261646730733907419814952960000000000000000000000000000

In [ ]:
calculationFactorial()

Write a number:56
factorial: 710998587804863451854045647463724949736497978881168458687447040000000000000

In [ ]:
def strToInt(x):
  if type(x)==str:
    print("variable type is string")
    y=int(x)
    return y

In [ ]:
var=input("write a number:")

write a number:12

In [ ]:
strToInt(var)

variable type is string

12

In [ ]:
var1=int(input("Write a number:"))

Write a number:45

In [ ]:
var2=input("Write a number:")

Write a number:89

In [ ]:
type(var2)

str

In [ ]:
x="50"

In [ ]:
type(x)

In [ ]:
result=strToInt(x)

variable type is string

In [ ]:
type(result)

int