<a href="https://colab.research.google.com/github/melikeekara/PYTHON-NOTEBOOKS/blob/main/python_Lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using Variables in Strings

In [ ]:
first_name="Melike"
last_name="Kara"

full_name=f"{first_name} {last_name}"

print(full_name)

Melike Kara

f-string

In [ ]:
print(f"Hello, {full_name.title()}!")

Hello, Melike Kara!

Adding Whitespace to  Strings with Tabs or Newlines

In [ ]:
print("Languages: \nPython\nC\nJava")

Languages:
Python
C
Java

Stripping Whitespace

In [ ]:
language="python"
print(language)

python

In [ ]:
language.rstrip()

'python'

In [ ]:
language.lstrip()

'python'

Underscores in Numbers

In [ ]:
universe_age=14_000_000_000
print(universe_age)

14000000000

Multiple Assignment

In [ ]:
x,y,z=0,0,0
print(x,y,z)

0 0 0

Constants

In [ ]:
MAX_CONNECTIONS=5000

In [ ]:
Comments

In [ ]:
#writing name script
#name="Melike"
name="Murat"
print(name)

Murat

List

In [ ]:
cars=["ford", "mercedes", "bmw", "volvo", "toyota"]
print(cars)

['ford', 'mercedes', 'bmw', 'volvo', 'toyota']

if you want to create a list, you have to square [] You have to seperate all list elements using comma.

In [ ]:
print(cars[0])

ford

list are ordered collections

In [ ]:
print(cars[0].title())

Ford

In [ ]:
print(cars[1])

mercedes

In [ ]:
print(cars[5])

IndexError: ignored

there is no elements

In [ ]:
print(cars[-1])

toyota

In [ ]:
massage=f"Your car is {cars[0].title()}"
print(massage)

Your car is Ford

**Changing, adding and removing Elemnts of List**

List items are ordered, changeable, are allowed dublicate values,
List items are indexed, the first item has index[0], the second item has index[1] etc.

In [ ]:
cars=["ford", "mercedes", "bmw", "volvo", "toyota"]
print(cars)

['ford', 'mercedes', 'bmw', 'volvo', 'toyota']

In [ ]:
type(cars)

list

In [ ]:
cars

['ford', 'mercedes', 'bmw', 'volvo', 'toyota']

In [ ]:
cars[0]

'ford'

In [ ]:
cars[0]="honda"

In [ ]:
cars

['honda', 'mercedes', 'bmw', 'volvo', 'toyota']

In [ ]:
cars[2]="skoda"

In [ ]:
cars

['honda', 'mercedes', 'skoda', 'volvo', 'toyota']

.append()
in python, you can add values to a list using the .append() medhod

In [ ]:
cars=["ford", "mercedes", "bmw", "volvo", "toyota"]
print(cars)

['ford', 'mercedes', 'bmw', 'volvo', 'toyota']

In [ ]:
cars.append("skoda")

In [ ]:
cars

['ford', 'mercedes', 'bmw', 'volvo', 'toyota', 'skoda']

In [ ]:
motorcycles=[]

In [ ]:
motorcycles.append("honda")
motorcycles.append("yamaha")
motorcycles.append("suzuki")

In [ ]:
motorcycles

['honda', 'yamaha', 'suzuki']

.insert(index, new item)

In [ ]:
motorcycles.insert(0, "ducati")

In [ ]:
motorcycles

['honda', 'yamaha', 'suzuki']

removing an item using dell method

del medthod

In [ ]:
del motorcycles[0]

In [ ]:
motorcycles

['honda', 'yamaha', 'suzuki']

Removing an item using the pop() method

In [ ]:
motorcycles.append("ducati")

In [ ]:
motorcycles

['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles.pop()

'ducati'

In [ ]:
motorcycles

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles.append("suzuki")

In [ ]:
motorcycles

['honda', 'yamaha', 'suzuki', 'suziki', 'suzuki']

.count()

In [ ]:
motorcycles.count("suzuki")

2

In [ ]:
motorcycles=[]
motorcycles.append("honda")
motorcycles.append("yamaha")
motorcycles.append("suzuki")

len()

In [ ]:
print(len(motorcycles))

3

**Organizing the List**

.**sort**

Numerical lists will be sorted in ascending order. String list will be sorted into alphabetical order. Sayısal listeler artan düzende sıralanacaktır. Dize listesi alfabetik sıraya göre sıralanacaktır.

In [ ]:
cars=["honda", "mercedes", "skoda", "volvo", "toyoya", "ford"]

In [ ]:
cars.sort()

In [ ]:
cars

['ford', 'honda', 'mercedes', 'skoda', 'toyoya', 'volvo']

In [ ]:
number_list=[4,3,2,5]

In [ ]:
number_list

[4, 3, 2, 5]

In [ ]:
number_list.sort()

In [ ]:
number_list

[2, 3, 4, 5]

In [ ]:
cars.sort(reverse=True)

In [ ]:
cars

['volvo', 'toyoya', 'skoda', 'mercedes', 'honda', 'ford']

In [ ]:
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(cars.sort())
print("\Here is the original list:")
print(cars.sort(reverse=True))

Here is the original list:
['volvo', 'toyoya', 'skoda', 'mercedes', 'honda', 'ford']

Here is the sorted list:
None
\Here is the original list:
None

In [ ]:
len(cars)

6

.remove() medhod

In [ ]:
cars.remove("ford")

In [ ]:
cars

['volvo', 'toyoya', 'skoda', 'mercedes', 'honda']

Tuples

1. Tuples is also ordered sequence of items as List
2. Tuple also hols multiple data types.
3. The only difference in Tuple&List is that Tuple is immutuble; once created it cannot be changed.
4. Creating a tuple is as sample as putting different comma-seperated values within round bracked.

1. Demetler ayrıca Liste olarak sıralanan öğelerdir. 
2. Tuple ayrıca birden çok veri türünü de tutar. 
3. Tuple Listesindeki tek fark, Tuple'ın değişmez olmasıdır; oluşturulduktan sonra değiştirilemez.
4. Bir demet oluşturmak, round cracked içine virgülle ayrılmış farklı değerler koymak kadar basittir.

In [ ]:
fruit=("apple", "banana", "cherry")

In [ ]:
print(fruit)

('apple', 'banana', 'cherry')

In [ ]:
type(fruit)

tuple

# Tuple Items
Tuple items are ordered, unchangeable, and dublicate values.
Tuple items indexed, the firdt item has index [0] the second item has index [1] etc. 
Demet Öğeleri 
Demet öğeleri sıralıdır, değiştirilemez ve yinelenen değerlerdir.
Demet öğeleri dizine eklendi, ilk öğenin [0] dizini, ikinci öğenin [1] dizini vb. var.

# Ordered 
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangeable
Tuples are unchangable, meaning that we cannot change, add or remove items after the tuple has been created

# Allow Dublicates
Since tuples are indexed, they can have items with the same value

In [ ]:
fruit

('apple', 'banana', 'cherry')

In [ ]:
type(fruit)

tuple

In [ ]:
variable=("apple")

In [ ]:
type(variable)

str

In [ ]:
tuple1=("murat",40,True,"ahmet",3.14)

In [ ]:
print(tuple1[1])

40

**Sets**

Python Sets
-Sets are used to store multiple items in a single variable.
-Sets is one of 4 built-in data types in Python used to store collections of data, the other 3 are Lists, Tuple, and Dictionary, all with different qualities and usage.
-A set is a collection which is unordere, unchangeable*, and unindexed.
-Note Sets items are unchangeble, but you can remove items and add new items.

Python Setleri
-Setler, birden çok öğeyi tek bir değişkende depolamak için kullanılır.
-Setler, Python'da veri koleksiyonlarını depolamak için kullanılan 4 yerleşik veri türünden biridir, diğer 3'ü Listeler, Tuple ve Sözlük'tür ve hepsi farklı niteliklere ve kullanıma sahiptir.
-Küme, sırasız, değiştirilemez* ve dizinlenmemiş bir koleksiyondur.
-Not Küme öğeleri değiştirilemez, ancak öğeleri kaldırabilir ve yeni öğeler ekleyebilirsiniz.

In [ ]:
fruitset={"apple", "banana", "cherry"}

In [ ]:
type(fruitset)

set

# Dublicates Not Allowed
Sets cannot have two itmes with the same value

In [ ]:
set={"apple", "banana", "cherry"}
print(set)

{'banana', 'apple', 'cherry'}

In [ ]:
set1={"abc", 123, 3.14, True}

.add() method

In [ ]:
set1.add("python")

In [ ]:
set1

{123, 3.14, True, 'abc', 'python'}

# Remove item
To remove an item in a set, use the remove(), or the discard() method

.remove() method

In [ ]:
set1.remove("python")

In [ ]:
set1

{123, 3.14, True, 'abc'}

discard() method

In [ ]:
set1.discard("abc")

In [ ]:
set1

{True, 3.14, 123}

.clear() method

In [ ]:
set1.clear()

In [ ]:
set1

set()

del method

In [ ]:
set

{'apple', 'banana', 'cherry'}

In [ ]:
del set

In [ ]:
print(set)

<class 'set'>

# Dictionary in Python
-Dictionaray is an unordered collection of key-values pairs.
-Real word dictionaries are a good analogy to understand them: they contain a list of items(words), each item has a key(the word) and a value(the word's meaning.
-It generally is used when we have a huge amount of data

Dictionary are written with curly brackets, and have **keys** and **values**

In [ ]:
dict_car={"brand":"merdeces", "model":"c200","year":2021, "price":2000}

In [ ]:
type(dict_car)

dict

In [ ]:
print(dict_car)

{'brand': 'merdeces', 'model': 'c200', 'year': 2021, 'price': 2000}

In [ ]:
print(dict_car["price"])

2000

In [ ]:
print(dict_car["year"])

2021

In [ ]:
print(dict_car["brand"])

merdeces

**Dictionary Items **
1. Dictionary items are ordered,changeable, and does not alllow dublicates.
2. Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
car2={
    "brand":"bmw",
    "model1":"ix3",
    "year":2022,
    "price":2250
}

In [ ]:
type(car2)

dict

In [ ]:
print(car2["year"])

2022

In [ ]:
car2={
    "brand":"bmw",
    "model1":"ix3",
    "year":2022,
    "price":2250,
    "price":2250
}

In [ ]:
print(car2)

{'brand': 'bmw', 'model1': 'ix3', 'year': 2022, 'price': 2250}

kendime not: price bi kere gözükür çünküüü dictionary itemlar dublicate izin vermezz.

In [ ]:
print(len(car2))

4

In [ ]:
car3={
    "brand":"bmw",
    "model1":"ix3",
    "year":2022,
    "price":2250,
    "color":["red", "white", "blue"]
}

birden fazla variable girceksen list kullanmalısın.
mesela "color" : red, white, blue değil [] kullanmalısın

In [ ]:
print(car3["color"])

['red', 'white', 'blue']

**Change Values**
1. You can change the value a specific item by refering to itd key name. Değişim değerleri
Anahtar adına bakarak belirli bir öğenin değerini değiştirebilirsiniz.

In [ ]:
car3["year"]=2023

In [ ]:
car3

{'brand': 'bmw',
 'model1': 'ix3',
 'year': 2023,
 'price': 2250,
 'color': ['red', 'white', 'blue']}

{'brand': 'bmw',
 'model1': 'ix3',
 'year': 2023,
 'price': 2250,
 'color': ['red', 'white', 'blue']}

In [ ]:
car3.update({"model1":"m3"})

In [ ]:
car3

{'brand': 'bmw',
 'model1': 'm3',
 'year': 2023,
 'price': 2250,
 'color': ['red', 'white', 'blue'],
 'model': 'm3'}

# Removing Items
1. There are several methods to remove items from a dictionary.
2. The pop() method removes the item with the specified hey name

In [ ]:
car3={
    "brand":"bmw",
    "model1":"ix3",
    "year":2022,
    "price":2250,
    "color":["red", "white", "blue"]
}

In [ ]:
car3.pop("price")

2250

In [ ]:
car3

{'brand': 'bmw',
 'model1': 'ix3',
 'year': 2022,
 'color': ['red', 'white', 'blue']}

In [ ]:
del car3["model1"]

In [ ]:
car3

{'brand': 'bmw', 'year': 2022, 'color': ['red', 'white', 'blue']}

In [ ]:
car3.clear()

In [ ]:
print(car3)

{}